<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="endpoint" source="observability.loki.endpoint"/>
    <springProperty scope="context" name="username" source="observability.loki.username"/>
    <springProperty scope="context" name="password" source="observability.loki.password"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <!-- Cf. https://loki4j.github.io/loki-logback-appender/docs/grafanacloud. -->
        <requestTimeoutMs>15000</requestTimeoutMs>
        <batchMaxBytes>65536</batchMaxBytes>
        <http>
            <url>${endpoint}</url>
            <auth>
                <username>${username}</username>
                <password>${password}</password>
            </auth>
        </http>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME},traceID=%X{traceId:-NONE},level=%level</pattern>
            </label>
            <message>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>