<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div id="event-creation-form-inputs" th:fragment="event-creation-form-inputs">
    <fieldset>
        <legend>What, where, when, how much?</legend>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="title">What's the occasion?</label>
                <input th:field="*{title}" id="title"
                       th:class="'form-control ' + ${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                       type="text"
                       placeholder="AC/DC Secret Santa"
                       required/>
                <div id="title-error"
                     class="invalid-feedback"
                     th:if="${#fields.hasErrors('title')}">
                    Must be between 1 and 100 characters long.
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="description">What do participants need to know?</label>
                <textarea th:field="*{description}"
                          id="description"
                          th:class="'form-control ' + ${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                          placeholder="There's gonna be some santa'ing!"
                          required>
                                </textarea>
                <div id="description-error"
                     class="invalid-feedback"
                     th:if="${#fields.hasErrors('description')}">
                    Must be between 1 and 1000 characters long.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="monetary-amount-number">How much to spend on a gift?</label>
                <input th:field="*{monetaryAmount.number}"
                       id="monetary-amount-number"
                       th:class="'form-control ' + ${#fields.hasErrors('monetaryAmount.number') ? 'is-invalid' : ''}"
                       type="number"
                       step="0.01"
                       placeholder="78"
                       required/>
                <div id="monetary-amount-number-error"
                     class="invalid-feedback"
                     th:if="${#fields.hasErrors('monetaryAmount.number')}">
                    Must be greater than or equal to 0.
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="title">In what currency?</label>
                <select id="monetary-amount-currency"
                        class="form-control"
                        th:field="*{monetaryAmount.currency}">
                    <option th:each="currency : ${T(javax.money.Monetary).getCurrencies()}"
                            th:value="${currency}"
                            th:text="${currency}"
                            th:selected="*{monetaryAmount.currency}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="local-date">On what day?</label>
                <input th:field="*{{localDate}}"
                       id="local-date"
                       th:class="'form-control ' + ${#fields.hasErrors('localDateTime') ? 'is-invalid' : ''}"
                       type="date"
                       required/>
                <div id="local-date-error"
                     class="invalid-feedback"
                     th:if="${#fields.hasErrors('localDateTime')}">
                    Must take place in the future.
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="local-time">At what hour?</label>
                <input th:field="*{{localTime}}"
                       id="local-time"
                       th:class="'form-control ' + ${#fields.hasErrors('localDateTime') ? 'is-invalid' : ''}"
                       type="time"
                       required/>
                <div id="local-time-error"
                     class="invalid-feedback"
                     th:if="${#fields.hasErrors('localDateTime')}">
                    Must take place in the future.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="place">Where?</label>
                <input th:field="*{place}"
                       id="place"
                       th:class="'form-control ' + ${#fields.hasErrors('place') ? 'is-invalid' : ''}"
                       type="text"
                       placeholder="Sydney Harbor"
                       required/>
                <div id="place-error"
                     class="invalid-feedback"
                     th:if="${#fields.hasErrors('place')}">
                    Must be between 1 and 100 characters long.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="host-name">Who's hosting?</label>
                <input th:field="*{host.name}"
                       id="host-name"
                       th:class="'form-control ' + ${#fields.hasErrors('host.name') ? 'is-invalid' : ''}"
                       type="text"
                       placeholder="George Young"
                       required/>
                <div id="host-name-error"
                     class="invalid-feedback"
                     th:if="${#fields.hasErrors('host.name')}">
                    Must be between 1 and 100 characters long.
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="place">What's their email?</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input th:field="*{host.email}"
                           id="host-email"
                           th:class="'form-control ' + ${#fields.hasErrors('host.email') ? 'is-invalid' : ''}"
                           type="text"
                           placeholder="georgeyoung@acdc.net"
                           required/>
                    <div id="host-email-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('host.email')}">
                        Must be a valid email address.
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Who?</legend>
        <table id="participants-table" class="table table-borderless table-sm">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th th:hidden="${#lists.size(event.participants)} lt 4"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="participant, itemStat : *{participants}">
                <td>
                    <input th:field="*{participants[__${itemStat.index}__].name}"
                           th:class="'form-control ' + ${#fields.hasErrors('*{participants[__${itemStat.index}__].name}') ? 'is-invalid' : ''}"
                           type="text"
                           th:placeholder="'Young No. ' +  ${itemStat.index + 1}"
                           required/>
                    <div th:id="participants__${itemStat.index}__-name-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('*{participants[__${itemStat.index}__].name}')}">
                        Must be between 1 and 100 characters long.
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input th:field="*{participants[__${itemStat.index}__].email}"
                               th:class="'form-control ' + ${#fields.hasErrors('*{participants[__${itemStat.index}__].email}') ? 'is-invalid' : ''}"
                               type="email"
                               th:placeholder="'young' +  ${itemStat.index + 1} + '@acdc.net'"
                               required/>
                        <div th:id="participants__${itemStat.index}__-email-error"
                             class="invalid-feedback"
                             th:if="${#fields.hasErrors('*{participants[__${itemStat.index}__].email}')}">
                            Must be a valid email address.
                        </div>
                    </div>
                </td>
                <td style="text-align: center; vertical-align: middle;"
                    th:hidden="${#lists.size(event.participants)} lt 4">
                    <button formnovalidate
                            th:id="remove-participants__${itemStat.index}__-button"
                            class="btn btn-danger btn-sm rounded-0"
                            type="submit"
                            title="Delete"
                            th:formaction="@{/wichteln/remove/{participantIndex}(participantIndex=${itemStat.index})}">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <button formnovalidate
                id="add-participant-button"
                class="btn btn-secondary mb-3"
                type="submit"
                th:formaction="@{/wichteln/add}">
            Add participant
        </button>
    </fieldset>
</div>
</body>
</html>