<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"/>

<body>
<div th:replace="fragments/header :: header"/>
<div style="background:transparent !important" class="jumbotron bg-light">
    <div class="container-lg">
        <h1 class="display-4">What is this thing?</h1>
        <p class="lead">Secret Santa (or, in German: Wichteln) means exchanging presents anonymously.</p>
        <hr class="my-4">
        <p>It may be rooted in a winterly, Christmas-sy tradition, but you can do it all-year-round. And this website
            helps you do so.</p>
        <p>You can view this site's source code on <a href="https://github.com/romanboehm/wichteln">Github</a> or send the author an <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#114;&#111;&#109;&#097;&#110;&#098;&#111;&#101;&#104;&#109;&#046;&#099;&#111;&#109;">email</a>.</p>
        <a class="btn btn-primary btn-lg" th:href="@{/wichteln}" role="button">Try it out!</a>
    </div>
</div>
</body>
</html>