<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"/>

<body>
<div th:replace="fragments/header :: header"/>
<div style="background:transparent !important" class="jumbotron bg-light">
    <div class="container-lg">
        <h1 class="display-4">Whoops</h1>
        <p class="lead">You're seeing this page because something happened that should not have.</p>
        <hr class="my-4">
        <p>But don't worry, you can always navigate back and try again. Just click the button below.</p>
        <a id="back-button" class="btn btn-primary btn-lg"onclick="history.back()" role="button">Back</a>
    </div>
</div>
</body>
</html>