<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content">
    <div style="background:transparent !important" class="jumbotron bg-light">
        <div class="container-lg">
            <h1 class="display-4">Ready to Wichtel!</h1>
            <p class="lead">Provide this link to everyone you wish to participate in your Wichteln event</p>
            <hr class="my-4">
            <div class="alert alert-primary" role="alert">
                <a class="alert-link" role="alert" th:href="${link}" th:text="${link}"></a>
                <button onclick="copyLink()">
                    <i class="fas fa-copy"></i>
                </button>
            </div>
            <a class="btn btn-primary btn-lg my-3" th:href="@{/event}" role="button">New event</a>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function copyLink() {
            var link = /*[[${link}]]*/ '';
            if (link) {
                navigator.clipboard.writeText(link).then(function () {
                    console.log('Copied link to clipboard: ' + link);
                }, function () {
                    console.log('Failed to copy link to clipboard');
                });
            }
        }

        /*]]>*/

    </script>
</div>
</body>
</html>