<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"/>

<body>
<div th:replace="fragments/header :: header"/>
<div style="background:transparent !important" class="jumbotron bg-light">
    <div class="container-lg">
        <h1 class="display-4">What are the privacy implications?</h1>
        <p class="lead">Rest assured: There are (next to) none.</p>
        <hr class="my-4">
        <p>The application might ask for names, email addresses, locations, etc., but
        <ol>
            <li>neither does it use it for anything but generating emails for the participants</li>
            <li>nor does it keep it longer than 14 days (that is when logs are being rotated).</li>
        </ol>
        </p>
        <p>You have further questions? Send this site's author an <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#114;&#111;&#109;&#097;&#110;&#098;&#111;&#101;&#104;&#109;&#046;&#099;&#111;&#109;">email</a>.</p>
    </div>
</div>
</body>
</html>