<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"/>

<body>
<div th:replace="~{fragments/header :: header}"/>
<div style="background:transparent !important" class="jumbotron bg-light">
    <div class="container-lg">
        <h1 class="display-4">It's too late to register</h1>
        <p class="lead">You're seeing this page because you tried to register for a Wichteln event that is already
            over.</p>
        <hr class="my-4">
        <p>We're sorry about that, but there's nothing we can do at this point.</p>
    </div>
</div>
</body>
</html>