<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-sm">
    <form id="event-creation-form"
          class="form-horizontal my-3"
          th:object="${eventCreation}"
          method="post">
        <fieldset>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="title">What's the occasion?</label>
                    <input th:field="*{title}"
                           id="title"
                           th:class="'form-control ' + ${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                           type="text"
                           placeholder="AC/DC Secret Santa"
                           required/>
                    <div id="title-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('title')}">
                        Must be between 1 and 100 characters long.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="description">What do participants need to know?</label>
                    <textarea th:field="*{description}"
                              id="description"
                              th:class="'form-control ' + ${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                              placeholder="There's gonna be some santa'ing!"
                              required>
                                </textarea>
                    <div id="description-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('description')}">
                        Must be between 1 and 1000 characters long.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="monetary-amount-number">How much to spend on a gift?</label>
                    <input th:field="*{number}"
                           id="monetary-amount-number"
                           th:class="'form-control ' + ${#fields.hasErrors('number') ? 'is-invalid' : ''}"
                           type="number"
                           step="0.01"
                           placeholder="78"
                           required/>
                    <div id="monetary-amount-number-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('number')}">
                        Must be greater than or equal to 0.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="monetary-amount-currency">In what currency?</label>
                    <select id="monetary-amount-currency"
                            class="form-control"
                            th:field="*{currency}">
                        <option th:each="currency : ${T(javax.money.Monetary).getCurrencies()}"
                                th:value="${currency}"
                                th:text="${currency}"
                                th:selected="*{currency}">
                        </option>
                    </select>
                </div>
            </div>
            <p style="display:inline-block;margin-bottom:.5rem">What's the registration deadline?</p>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="local-date">Day</label>
                    <input th:field="*{{localDate}}"
                           id="local-date"
                           th:class="'form-control ' + ${#fields.hasErrors('zonedDateTime') ? 'is-invalid' : ''}"
                           type="date"
                           required/>
                    <div id="local-date-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('zonedDateTime')}">
                        Must take place in the future.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="local-time">Hour</label>
                    <input th:field="*{{localTime}}"
                           id="local-time"
                           th:class="'form-control ' + ${#fields.hasErrors('zonedDateTime') ? 'is-invalid' : ''}"
                           type="time"
                           required/>
                    <div id="local-time-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('zonedDateTime')}">
                        Must take place in the future.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="timezone">Timezone</label>
                    <select id="timezone"
                            class="form-control"
                            th:field="*{timezone}">
                        <option th:each="timezone : ${T(java.time.ZoneId).getAvailableZoneIds()}"
                                th:value="${T(java.time.ZoneId).of(timezone)}"
                                th:text="${timezone}"
                                th:selected="*{timezone}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="host-name">Who's hosting?</label>
                    <input th:field="*{hostName}"
                           id="host-name"
                           th:class="'form-control ' + ${#fields.hasErrors('hostName') ? 'is-invalid' : ''}"
                           type="text"
                           placeholder="George Young"
                           required/>
                    <div id="host-name-error"
                         class="invalid-feedback"
                         th:if="${#fields.hasErrors('hostName')}">
                        Must be between 1 and 100 characters long.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="host-email">What's their email?</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input th:field="*{hostEmail}"
                               id="host-email"
                               th:class="'form-control ' + ${#fields.hasErrors('hostEmail') ? 'is-invalid' : ''}"
                               type="text"
                               placeholder="georgeyoung@acdc.net"
                               required/>
                        <div id="host-email-error"
                             class="invalid-feedback"
                             th:if="${#fields.hasErrors('hostEmail')}">
                            Must be a valid email address.
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit"
                id="submit-button"
                class="btn btn-primary my-3 mr-3"
                th:formaction="@{/wichteln/save}">
            Submit
        </button>
    </form>
</div> <!-- /container -->
</body>
</html>