<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-sm">
    <form id="event-creation-form"
          class="form-horizontal"
          th:object="${event}"
          method="post">
        <!-- Show in "form" mode only -->
        <div th:hidden="${preview}?: 'false'">
            <button type="submit"
                    id="preview-button"
                    class="btn btn-primary my-3 mr-3"
                    th:formaction="@{/wichteln/preview}">
                Preview...
            </button>
            <button type="reset"
                    id="reset-button"
                    class="btn btn-danger my-3">
                Reset
            </button>
            <div th:replace="fragments/form :: event-creation-form-inputs"></div>
        </div>
        <!-- Render in preview mode only -->
        <div th:if="${preview}">
            <button type="button"
                    id="back-button"
                    class="btn btn-secondary my-3 mr-3"
                    onclick="history.back()">
                Back
            </button>
            <button type="submit"
                    id="submit-button"
                    class="btn btn-primary my-3"
                    th:formaction="@{/wichteln/save}">
                Submit
            </button>
            <p>This is what your email will look like:</p>
            <blockquote style="background: #eee;border-radius: 5px; padding: 15px;">
                    <div th:replace="fragments/matchmail :: match-mail(donor='Angus Young', recipient='Phil Rudd', event=${event})"></div>
            </blockquote>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>